body{
    color: #ffff;
   background-color:#0d1821;
}

@font-face {
    font-family: "Code Squared";
    src: local("Code Squared"),
     url("./fonts/Code Squared.ttf") format("truetype");
    font-weight: bold;
    }